<h2>List of Projects</h2>
<hr>

{{#each code}}
  <div class="card mt-2">
    <div class="card-body">
      <h4>{{title}}</h4>
      <a href="/user/projects/{{_id}}"><button class="btn btn-success">Learn More</button></a>
      </form>
    </div>
  </div>
{{/each}}
