

<a href="/user/projects"><button class="btn btn-primary">Back</button></a>

<div class="card mt-2">
    <div class="card-body">
        <h4>{{code.title}} :</h4>
        <hr>
        <textarea readonly style="width: 100%;" rows="40">
            {{code.code}}
        </textarea>
        <a href="/user/projects"><button class="btn btn-primary">Back</button></a>
    </div>
  </div>
